html{
    font-family: Roboto, sans-serif;
}

body{
    margin: 3%;
    background-color: #fff1e2;
   
}
.linea{
    text-align: center;
}
#titulo {
    text-align: center;
    color: #550000;
    text-shadow: 3px 5px 5px rgb(212, 106, 106);
    font-family: Roboto, sans-serif;
    font-weight: bold;
}
#titupos{
    text-align: center;
    color: midnightblue;
    font-size: 2rem;
     font-family:  Roboto, sans-serif;
}
#subtitulo{
    text-align: center;
    color: #FFEAEA;
    line-height: 0,5;
    font-size: 2rem;
     font-family:  Roboto, sans-serif;
}
.cursiva{
    /*font-family: cursive;*/
    color: #6C1A08 ;
    text-shadow: 3px 5px 5px rgb(212, 106, 106);
    font-weight: bold;
    font-size: 2rem;
   text-align: center;
}
.negra{
    font-family: cursive, Roboto, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}
.cuerpo{
    text-align: justify;
    font-size: 1rem;
    font-family: Roboto, sans-serif;
}

h3{
    text-align: center;
    color: white;
    font-size: 2rem;
}
header{
    background-color: chocolate;
    color: black;
    padding: 3rem 2rem;
}
header h1{
   font-size: 3rem; 
   text-align: center;
}
.container{
    width: 400px;
    margin: 0 auto;
    text-align: justify;

}
.stick {
    position: fixed;
    top: 0;
    width: 100%;}

section article {
    transition: all box-shadow 0,3s ease;
    background-color: burlywood;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
    font-family: Roboto, sans-serif;
}
section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0.4, 0, 0, 0.3);
}
section article h2, section article p {
    margin: 1rem;
}
footer{
    background-color: chocolate;
    padding: 1rem;
    color: white;
}
footer section{
    float: right;
}
footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;

}
footer a:hover {
    color: rgb(5, 39, 40);
}